/*Google FONTS
 * font-family: 'Rajdhani', sans-serif;
 */

/* Custom Font*/
@font-face {
  font-family: BlackPanther;
  src: url(blackpanther.ttf);
}

/*BODY*/
body {
  text-align: center;
font-family: 'Orbitron', sans-serif;
background-color:grey

}

/* HEADER */
.title {
 text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px black;
 text-align: center;
 font-family: BlackPanther;
 font-size: 55px;
 line-height: 10px;


}

.sub-title {
  text-align: center;
 font-size: 40px;
 line-height: 4px;
}

.directions {
  text-align: center;
 font-size: 30px;
 font-weight: bold;
 color:#800000;
}

.player-name {
 font-family: 'Rajdhani', sans-serif;
 font-size: 30px;
}

#name-button, #tryagain-button {
  text-align: left;
 width: 20%;
 background-color: #800000;
 color: black;
 font-size: 30px;
 font-family: 'Orbitron', sans-serif;
}

/* CARDS */
.face-card {
 width: 15%;
 margin: 5px;
}

.message {
 font-size: 20px;
}

/* FOOTER */
#footer {
 font-size: 20px;
}

.logo {
 width: 15%;
 max-width: 15%;
}
